'<pad>_'
'<EOS>_'
'c_'
'C_'
' ) _'
'1_'
'O_'
' ( _'
'2_'
'N_'
'n_'
' ( = _'
' . _'
'F_'
'3_'
' ) ( _'
'l_'
' = _'
'H_'
' [ _'
'B_'
' ] _'
'S_'
'r_'
' ( - _'
' ] ( _'
' ) [ _'
'4_'
' @ _'
' @ @ _'
' ) ( = _'
' # _'
's_'
' - ] ) _'
' ) = _'
'o_'
' ( [ _'
' + ] ( = _'
' - _'
'I_'
'5_'
'i_'
' / _'
' = [ _'
' + ] ( [ _'
' - ]_'
' . [ _'
' @ ] _'
'P_'
' + ] = [ _'
' ) / _'
' @ @ ] _'
' - ] . _'
' ( / _'
' - ] = [ _'
'g_'
'M_'
' \\ _'
'6_'
' + ]_'
' + ] . _'
' @ ] ( _'
' + ] ( _'
' @ @ ] ( _'
' - ] # _'
' + ] _'
' + ] = _'
' ) - _'
' - ] ) [ _'
' ( \\ _'
'[ _'
'Z_'
'u_'
' ] ( [ _'
' + ] ) _'
' - ] _'
' ]_'
' / [ _'
' - ] ) = _'
' ] ( / _'
' - ] [ _'
' - ] ) ( [ _'
' ) ( [ _'
' ) = [ _'
'L_'
' - ] ( _'
' ] . _'
'7_'
'e_'
' \\ [ _'
' @ ] ( = _'
' ) \\ _'
' @ @ ] ( = _'
' ) ( / _'
' ] [ _'
' ] ( = _'
' - ] ) ( _'
' ] = _'
't_'
'K_'
' - ] . [ _'
' ( # _'
'd_'
' ] ) _'
' + _'
' + ] ) [ _'
' ( = [ _'
'u'
't'
's'
'r'
'p'
'o'
'n'
'l'
'i'
'g'
'e'
'd'
'c'
'a'
'_'
']'
'\'
'['
'Z'
'S'
'P'
'O'
'N'
'M'
'L'
'K'
'I'
'H'
'F'
'E'
'C'
'B'
'@'
'>'
'='
'<'
';'
'9'
'8'
'7'
'6'
'5'
'4'
'3'
'2'
'1'
'0'
'/'
'.'
'-'
'+'
')'
'('
'#'
' '
